@keyframes wave {
  20% {
    transform: scale(1.1);
    background-color: white;
    opacity: 1;
  }

  40% {
    transform: scale(1.2);
    background-color: white;
    opacity: 0.8;
  }

  60% {
    transform: scale(1.3);
    opacity: 0.5;
  }

  75% {
    transform: scale(1.4);
    background-color: white;
    opacity: 0;
  }
}

.activeStudent {
  animation-name: wave;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}